# Dependencies
/node_modules
/.pnp
.pnp.*

# Build outputs
/.next/
/out/
/build/
/dist/

# Deployment
.vercel
.netlify

# Environment & local files
.env*
!.env.example
.DS_Store
*.pem
*.local

# Logs
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*
*.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/*
!.vscode/extensions.json
.idea
