# Server
APP_NAME=
CONVEX_DEPLOYMENT=
CLERK_SECRET_KEY=

# Client
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_HOME=
NEXT_PUBLIC_APP_PRIMARY_COLOR=
NEXT_PUBLIC_FOOTER_TEXT=
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CONVEX_SITE_URL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=